* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }
  /*----------------------END OF CSS RESET----------------*/

#root {
    width: 100%;
    height: 100vh;
    background-color: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
} 

h1 {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    font-weight: 300;
    color: #006837;
    text-transform: uppercase;
    white-space: nowrap;
}

@media (max-width: 520px) {
    h1 {
        font-size: 24px;
    }
}

.question {
    position: relative;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 520px;
    height: auto;
    padding: 20px;
    margin-top: 20px;
    background-color: #F9C582;
    text-align: left;
}

@media (max-width:520px) {
    .question {
        max-width: 100%;
    }
}

p {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #446745;
}

span {
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    line-height: 22px;
    color: #446745;
}

input {
    width: 480px;
    /*max-width: 480px; - this doesn't work, it sets the width to less then half-size, below 200px*/
    height: 64px;
    padding-left: 20px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    background-color: #F2F2F2;
}

@media (max-width:520px) {
    input {
        max-width: calc(100% - 40px);
    }
}
button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 20px;
    background-color: #F9C582;
    font-size: 21px;
    font-weight: 700;
    color: #006837;
}